.detail_slideShow {
    width: 700px;
    height: 500px;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
}

.slides {
    position: absolute;
    left: 0;
    top: 0;
    width: 2500px;    
    translate: left 0.5s ease-out;
}

.slides img {
    width: 700px;
    height: 500px;
}

.slides li {
    float: left;
}

  .slides li:not(:last-child){
    float: left;
    margin-right: 100px;
  }


/* 슬라이드 버튼 */
.controller span{
    position:absolute;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 1.3em;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.5);
}

.controller span:hover{
    background-color: rgba(128, 128, 128);
  }
  
  .prev{
    left: 10px;
  }
  .next{
    right: 10px;
  }
