
/* =========== 웹페이지 폰트 스타일 미지정============= */
* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}
/* ====================================================== */

/* ======================= 상단 ========================= */
/* ================ 헤더 (건들지 마시오) ================= */



/* 헤더를 재외한 웹페이지 width:1280px 고정. */
.wrap {
    width:1280px;
    margin: 0 auto;
}

/* 상단의 이미지 */
.intro_bg {
    width: 100%;
    height: 500px;
}

/* 상단 이미지 안의 문자. 필요시 위치 수정. */
.intro_text {
	 width:1280px;
    margin: 0 auto;
    /*position:absolute;
    bottom: 550px; 
    left: 200px;*/
    /* 바텀이 0에 가까울수록 내려감 */
    /* 레프트가 0에 가까울수록 왼쪽에 붙음 */
}

/* 태그 */
.month {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    padding-bottom: 30px;
}
/* 각 태그별 간격 */
.month > li {
    margin-left: 20px;
}
/* ======================= 상단 ========================= */

/* ======================= 하단 ========================= */
.event {
    background-color: blue;
}
.tags{
    display:flex;
    justify-content: center;   
}
.taglist li{
    padding:10px;
    list-style-type: none;
    margin-right:3px;
    border-radius: 100%;
    border:solid 1px;
    float:left;
}

.event_area {
    width: 590px;
    height: 250px;
    margin: 30px 15px 0px 25px;
    border: 1px solid black;
    float: left;
}

.event_area > a > div {
    float: left;
}

#event_area_img {
    width: 320px;
}

#event_area_img > img {
    width: 270px;
    height: 200px;
    padding: 30px 30px 20px 30px;
}

.event_area_text {
    width: 240px;
    margin-top: 30px;
    float: left;
}

.event_area_text > h2 {
    background-color: rgba(255, 0, 0, 0.425);
}

.event_area_text > .event_content {
    margin-top: 20px;
    height: 80px;
    background-color: skyblue;
}

.event_area_text > .event_date {
    margin-top: 20px;
    height: 20px;
    background-color: skyblue;
}

.event_area_text > .event_local {
    margin-top: 10px;
    height: 20px;
    background-color: skyblue;
}

/*================== 푸터==================*/
#footer {
    width: 100%;
    min-width: 1280px;
    height: 200px;
    bottom: 0px;
    /*position: absolute;*/
    background-color: #3c3c3c;
    text-align: center;
    
    
}

.footer_wrap {
    width: 1280px;
    height: 200px;
    margin: 0 auto;
}
.footer_title{
    width: 610px;
    height: 200px;
    float: left;
    margin-left: 30px;
}
.footer_intro{
    width: 600px;
    height: 200px;
    float: right;
    margin-right: 30px;
}

.footer_box {
    height: 150px;
    margin-top: 25px;
}

.footer_box > img {
    width: 215px;
    height: 85px;
}

.footer_table {
    width: 500px;
    font-size: 17px;
    margin-left: 30px;
    margin-top:50px;
}
.footer_table th {
    width: 70px;
    color: white;
    text-align: left;
}
.footer_table td {
    color: white;
    width: 150px;
    text-align: left;
}

#v-line {
    float: left;
    margin-top: 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 150px;
}
/*================== 푸터 끝==================*/