<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.dao.shopping.IBoardDaoShop2">
<insert id="create">
insert into tbl_board (userid, review, what_product, recommand, recommand2, bno)
values (#{userid }, #{review }, #{what_product }, #{recommand }, #{recommand2 }, seq_tbl_board.nextval)
</insert>

<delete id="delete">
delete from tbl_board where bno=#{bno}
</delete>

<sql id='search'>
	<if test="searchType!=null">
		<if test="searchType == 't'.toString()"> and what_product like '%'|| #{keyword}||'%' </if>
		<if test="searchType == 'c'.toString()"> and recommand like '%'|| #{keyword}||'%' </if>
		<if test="searchType == 'w'.toString()"> and userID like '%'|| #{keyword}||'%' </if>
	</if>
</sql>

<select id="listSearch" resultType="com.human.dto.shopping.BoardDtoShop2">
<![CDATA[select bno, what_product, review, recommand, recommand2, userID from
(select /*+INDEX_DESC(tbl_board)*/ 
rownum rn,bno, what_product, review, recommand, recommand2, userID
from tbl_board where 1=1  ]]> 
<include refid="search"/>
<![CDATA[ and rownum <= #{page} * #{perPageNum} and bno > 0 ) 
where rn > (#{page} -1) * #{perPageNum}]]>
</select>
<!-- <select id="listSearch" resultType="com.human.dto.BoardDTO">
<![CDATA[select bno, title, content, writer, viewcnt, regdate from
(select /*+INDEX_DESC(tbl_board,pk_board)*/ 
rownum rn,bno,title,content,writer,viewcnt,regdate
from tbl_board where 1=1 ]]>
<include refid="search"/>
<![CDATA[ and rownum <= #{page} * #{perPageNum} and bno > 0 ) 
where rn > (#{page} -1) * #{perPageNum}]]>
</select> -->



<select id="listSearchCount" resultType="int">
<![CDATA[ select count(bno) from tbl_board where 1=1 ]]>
<include refid="search"/>
<![CDATA[ and bno > 0 ]]>
</select>

</mapper>










