<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.dao.shopping.IBoardDaoRate">


<select id="listAll" resultType="com.human.dto.shopping.BoardDtoRate">
select * from shopping_tensor_rate order by avg_sold_out asc
</select>


</mapper>