@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}


img {
  display: block;
  border-radius: 10px;
}


.mother {
  width:1190px;
  margin: 100px auto;
}


.container {
  position: relative;
  width: 1190px;
  margin: 100px auto;
  text-align: center;
  }


.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 98%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
  left: 0px;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.199)
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  margin-top: 3%;
  width: 13%;
  display: inline-block;
  margin-right: -18px;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


.tour_name {
  position: relative;
  font-family: 'NanumSquareRound';
  font-size: 40px;
  font-weight: bold;
  color: rgb(228, 166, 52);
  margin-top: -3%;
}

.tour_star{
  font-size: 36px;
  position: relative;
  margin-left: 81%;
  margin-top: -3%;
}

.checked {
  color: orange;
}


.tour_line {
  margin-top:26px;
  color:rgba(122, 148, 148, 0.082);
}



.tour_adr{
  width: 1190px;
  height: 50px;
  margin-top:40px;
  color: #000000e0;
  font-family: 'NanumSquareRound';
}

.address{
  list-style: none;
}

.adr_a{
  float: left;
  margin-right: 110px;
  margin-left: 10%;
}

.tour_main {
  width:1190px;
}
.tour_list {
  width:1190px;
  text-align: center;
}



.tour_exp {
  font-family: 'NanumSquareRound';
  width:660px;
  margin-bottom: 20px;
  line-height: 30px;
  margin-top:26px;
}

.tour_expl h1{
  font-size: 30px;
  margin-bottom: 20px;
}

.tour_expl ul{
  list-style: none;
}



#more {
  display: none;
}

#myBtn{
  border: solid rgba(0, 0, 0, 0.678);
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left:300px;
}


.tour_drc{
  width:530px;
  font-family: 'NanumSquareRound';
  margin-left: 58%;
  margin-top: -37%;
}

.tour_drc h2{
  font-size: 30px;
  margin-bottom: 27px;
}