@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    height: 100%;
    min-width: 130px;
}
section {
    padding-bottom: 200px;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

.intro_bg {
    width: 100%;
    min-width: 1280px;
    height: 500px;
    background-image: url("http://jiwef.org/default/_template/image/default/remain/main02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro_text {
    position: absolute;
    top: 410px;
    padding-left: 30px;
    font-size: larger;
}

.intro_text h1, h4 {
    color: white;
}

.content {
    width: 1280px;
    margin: 0px auto;
}

.month {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    padding-bottom: 30px;
}
.month > li > a {
    margin-left: 20px;
    cursor: pointer;
    font-size: 18px;
    color: rgba(0, 0, 0, 50%);
}
.month > li > a:hover {
    color: orange;
    font-weight: 700;
}

.event{
	overflow: hidden;
    height: auto;
}

.event_area {
    width: 600px;
    height: 250px;
    margin: 30px 15px 0px 20px;
    float: left;
    border: 1px solid rgba(0, 0, 0, 20%);
    box-shadow: 3px 4px 5px 0 rgb(2 2 2 / 20%);
}

.event_area > a > div {
    float: left;
}

.event_area_img {
    width: 300px;
}

.event_area_img > img {
    width: 270px;
    height: 200px;
    padding: 30px 20px 30px 20px;
}

.event_area_text {
    width: 270px;
    margin-top: 20px;
    float: left;
}

.event_area_text > h2 {
    width: 280px;
    height: 70px;
}

.event_area_text > .event_content {
    /*margin-top: 20px;*/
    height: 70px;
    
}

.event_area_text > .event_date {
    margin-top: 15px;
    height: 20px;
    opacity: 70%;
}

.event_area_text > .event_local {
    margin-top: 10px;
    height: 20px;
    opacity: 70%;
}