/*================== 푸터==================*/
#footer {
    width: 100%;
    min-width: 1280px;
    height: 200px;
    bottom: 0px;
    /*position: absolute;*/
    background-color: #3c3c3c;
    text-align: center;
    
}

.footer_wrap {
    width: 1280px;
    height: 200px;
    margin: 0 auto;
}
.footer_title{
    width: 610px;
    height: 200px;
    float: left;
    margin-left: 30px;
}
.footer_intro{
    width: 600px;
    height: 200px;
    float: right;
    margin-right: 30px;
}

.footer_box {
    height: 150px;
    margin-top: 25px;
}

.footer_box > img {
    width: 215px;
    height: 85px;
}

.footer_table {
    width: 500px;
    font-size: 17px;
    margin-left: 30px;
    margin-top:50px;
}
.footer_table th {
    width: 70px;
    color: white;
    text-align: left;
}
.footer_table td {
    color: white;
    width: 150px;
    text-align: left;
}

#v-line {
    float: left;
    margin-top: 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 150px;
}
/*================== 푸터 끝==================*/