<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.dao.festival.festival_detailDao">

	<insert id="create">
		insert into festival_detail
		(fno, fname, fbg, faddress, ftel, fhomepage, fcontent, fimg1, fimg2, fimg3, fimg4, fimg5)
		values (
			#{fno}, #{fname}, #{fbg}, #{faddress}, #{ftel}, #{fhomepage}, #{fcontent}, 
			#{fimg1}, #{fimg2}, #{fimg3}, #{fimg4}, #{fimg5})
	</insert>

	<select id="read" resultType="festival_detailDto">
		select * from festival_detail where fno=#{fno}
	</select>

	<select id="getFno" resultType="festival_detailDto">
		select fno from festival_detail where fno=#{fno}
	</select>

	<update id="update">
		update festival_detail
		set fname=#{fname}, fbg=#{fbg}, faddress=#{faddress}, ftel=#{ftel}, fhomepage=#{fhomepage},
			fcontent=#{fcontent}, fimg1=#{fimg1}, fimg2=#{fimg2}, fimg3=#{fimg3}, fimg4=#{fimg4}, fimg5=#{fimg5}
		where fno=#{fno}
	</update>
	
	<update id="countReview">
		update festival_detail
		set freview_count = (select count(fno) from festival_review where fno=#{fno})
		where fno=#{fno}
	</update>
</mapper>