<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.dao.tour.TourReviewsDao">
	
	<insert id="insert">insert into tour_reviews (t_num,t_writer,t_regdate,t_content,rating)
	values (seq_treviews.nextval,#{t_writer},#{t_regdate},#{t_content},#{rating})
	</insert>
	
	<update id="update">update tour set t_writer=#{t_writer}, t_content=#{t_content}, rating=#{rating}
	where t_num=#{t_num} 
	</update>
	
	<delete id="delete"> delete from tour where t_num=#{t_num} 
	</delete>
	
	<select id="listAll" resultType="com.human.dto.tour.TourReviewsDto">
	select * from tour_reviews
	</select>

</mapper>