
/* =========== 웹페이지 폰트 스타일 미지정============= */
* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}
/* ====================================================== */

/* ======================= 상단 ========================= */
/* ================ 헤더 (건들지 마시오) ================= */

/*================== 헤더 ==================*/
#header{
    height: 100px;
    background: rgba(0,0,0,.3);
    width: 100%;
    left: 0;
    top: 0;
    z-index: 600;
    border-bottom: 1px solid hsla(0,0%,100%,.3);
    position: fixed;
    /* position: absolute; */
    background: #f6f6f6;
    border-bottom-color: #ccc;
    display: block;
}

/* 헤더 안에 컨테이너 박스 */
#container{
    margin: 0 auto;
    height: 100px;
    width: 1290px;
    max-width: 100%;
    display: -webkit-box;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

/* 좌측 박스 (h1 태그로 감싼 로고 이미지) */
.logo{
    display: block;
    height: 100px;
    cursor: pointer;
    text-decoration: none;
    border: 0;
}

.logo > #img1 {
    margin-top: 5px;
}

/* 중앙 카테고리 박스 */
.menu{
    list-style: none;
    display: block;
}

/* 중앙 카테고리 (ul박스) */
.depth{
    width: 540px;
    display: -webkit-box;
    -webkit-box-pack: justify;
    justify-content: space-between;
    list-style: none;
}

/* 중앙 카테고리 박스 (폰트 스타일) */
.menu_a{
    font-weight: 700;
    color: #191919;
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    position:relative;
}

/* 우측 박스 */
.language-wrap{
    z-index: 3;
    width: 222px;
    height: 100px;
    display: -webkit-box;
    -webkit-box-align: center;
    opacity: 70%;
}

/* 우측 박스 (한국어)*/
#search{
    padding-left: 20px;
    margin-left: 20px;
}

#search_Form {
    position: absolute;
    top: 95px;
    left: 70%;
    width: 270px;
    height: 60px;
    z-index: 10;
    border: 1px solid #ccc;
    background-color: hsla(0,0%,100%);
}

.input_field {
    width: 250px;
    height: 50px;
    margin-left: 10px;
    border-bottom: 1px solid black;
}
#search_name {
    width: 200px;
    height: 40px;
    border: none;
}

#search_btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("https://korean.visitseoul.net/humanframe/theme/visitseoul/assets/images/2021/common/icn_search@2x.png");
    background-position: 7px 7px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-color: gray;
    border: none;
    
}
/*================== 헤더 끝==================*/


/* 헤더를 재외한 웹페이지 width:1280px 고정. */
.wrap {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

.container{
    width: 1280px;
    margin: 0px auto;
}

/* 상단의 이미지 */
.intro_bg {
    width: 100%;
    height: 500px;
    background-image: url("/ex/resources/img/acco/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro_text {
    position: absolute;
    top: 410px;
    padding-left: 30px;
    font-size: larger;
}


/* 상단 이미지 안의 문자. 필요시 위치 수정. */
.intro_text {
    
    padding-left: 30px;
   
}
.month{
    margin : 10px 10px 10px 10px;
    
}
/* 태그 */
.month>div.tag1 {
    
    margin-top: 30px;
    height: 30px;
    text-align: center;
    
    
    
}
/* 각 태그별 간격 */
.month > div {
    text-align: center;
}
.month > div > p{
    text-align: right;
    padding-right: 50px;
    
}
/* ======================= 상단 ========================= */

/* ======================= 하단 ========================= */

.recommend{
    height: 1000px;
}
.recommend > .order_type{
    text-align:center;
}
.event_area {
    width: 580px;
    height: 250px;
    margin: 30px 15px 0px 25px;
    border: 1px solid black;
    float: left;
}

.event_area > a > div {
    float: left;
}

#event_area_img {
    width: 320px;
}

#event_area_img > img {
    width: 270px;
    height: 200px;
    padding: 30px 30px 20px 30px;
    text-align:center;
}

.event_area_text {
    width: 240px;
    margin-top: 30px;
    float: left;
}

.event_area > a > div > .like{
    position: relative;
    text-align:right;
    
    margin-right: 10px;
}


/*================== 푸터==================*/
#footer {
    width: 100%;
    min-width: 1280px;
    height: 200px;
    bottom: 0px;
    /*position: absolute;*/
    background-color: #3c3c3c;
    text-align: center;
    
}

.footer_wrap {
    width: 1280px;
    height: 200px;
    margin: 0 auto;
}
.footer_title{
    width: 610px;
    height: 200px;
    float: left;
    margin-left: 30px;
}
.footer_intro{
    width: 600px;
    height: 200px;
    float: right;
    margin-right: 30px;
}

.footer_box {
    height: 150px;
    margin-top: 25px;
}

.footer_table {
    width: 500px;
    font-size: 17px;
    margin-left: 30px;
    margin-top:50px;
}
.footer_table th {
    width: 70px;
    color: white;
    text-align: left;
}
.footer_table td {
    color: white;
    width: 150px;
    text-align: left;
}

#v-line {
    float: left;
    margin-top: 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 150px;
}
/*================== 푸터 끝==================*/





