<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.dao.acco.IAccoDao">

<insert id="insert">
insert into acco (acco_id, acco_name, acco_address1, acco_address2, acco_tag1, acco_tag2, acco_tag3, 
acco_tag4, acco_like, acco_reviewcounter)
values (acco_counter.nextval, #{acco_name}, #{acco_address1}, #{acco_address2}, #{acco_tag1}, #{acco_tag2}, #{acco_tag3}, 
#{acco_tag4}, #{acco_like}, #{acco_reviewcounter})
</insert>

<select id="read" resultType="AccoDto">
select * from acco where acco_id=#{acco_id}
</select>

<delete id="delete">
delete from acco where =#{acco_id}
</delete>

<update id="update">
update acco set acco_name=#{acco_name}, acco_address1=#{acco_address1}, acco_address2=#{acco_address2},
 acco_tag1=#{acco_tag1}, acco_tag2=#{acco_tag2}, acco_tag3=#{acco_tag3}, 
acco_tag4=#{acco_tag4}, acco_like=#{acco_like}, acco_reviewcounter=#{acco_reviewcounter}
</update>

<select id="listAll" resultType="com.human.dto.acco.AccoDto">
select * from acco

</select>



</mapper>